.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    min-height: 20vh;
}

.footer-logo {
    margin-top: 20px;
    height: 40px;
    margin-bottom: 10px;
}
