body {
  font-family: 'Montserrat', sans-serif;
  max-width: 1240px;
  margin: auto;
  padding: 0;
}

.container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.break-mobile {
    display: none;
}
  
@media (max-width: 767px) {
    .break-mobile {
        display: inline;
    }
}
